

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel='stylesheet' href="Style.css">
        
    </head>
    <body style="background:brown">
    <p>
        <h2 style="color:rgb(193, 176, 207)">
            Priyanshu Maurya
        </h2>
        <button>Get Users</button>
    </p>
        <p>Hello there </p>
        

    <script>
    //     console.log("Hello");
    //     // console.error(myvar)
    //     console.error("This is the error");
    //     console.warn("this  is warning");
    //     console.dir(document); 
    //     console.log(document.URL); 

    //     console.table([{name:'John',
    // email:'test@test.com',age:33},{name:'John',
    // email:'test@test.com',age:33},{name:'John',
    // email:'test@test.com',age:33},{name:'John',
    // email:'test@test.com',age:33}])
    
    //     console.clear();


        // console.group('Say hello');
        // console.log('Hello John');
        // console.log('Hello Sally');
        // console.log('Hello Priyanshu');
        // console.groupEnd('Say hello');


            // console.time('for loop');

            // for(var i=0;i<20000;i++){
            //     console.log(i);
            // }

            // console.timeEnd("for loop");


            // function greaterThan(x, y){
            //     console.assert(x > y,{"message":"x is not greater than y","x":x,"y":y})

            // }
            // greaterThan(4,5);
        //     document.querySelector('button').addEventListener('click',getUser);

        // function getUser() {
        //     var xhr = new XMLHttpRequest();
        //     xhr.open('GET','http://api.github.com/users',true);
            
        //     xhr.onload = function() {
        //         if(this.status == 200){
        //             console.log('Users Returned');
        //         }
        //     }

        //     xhr.send();
        // }
        
        
        localStorage.setItem('name','john');
        
        // console.log(localStorage.getItem('name'));
           // localStorage.clear('name');
        // sessionStorage.setItem('car','BMW');
           // sessionStorage.clear('name');


        // document.cookie = "username=john Doe";
    </script>
        <script src="" async defer></script>
    </body>
</html>